GAS_STATION_URL=http://ethgasstation.info/json/ethgasAPI.json
GAS_PRICE_UPDATE_FREQUENCY_MILLI_SEC=10000
GAS_INITIAL_PRICE=20
GAS_PRICE_MULTIPLIER=1
LIQUIDATE_INTERVAL_MILLI_SEC=10000
LIQUIDATOR_TOKEN=USDC
PROVIDER_TYPE=privatekey
ACCOUNT_NUM=1000
USER_MNEMONIC=
