GAS_STATION_URL=http://ethgasstation.info/json/ethgasAPI.json
GAS_PRICE_UPDATE_FREQUENCY_SEC=1000
GAS_INITIAL_PRICE=1000
GAS_PRICE_LEVEL=average
ACCOUNTS_UPDATE_FREQUENCY_SEC=100
LIQUIDATE_INTERVAL=100
LIQUIDATOR_TOKEN=USDC
TEST_RESET_FREQUENCY_SEC=20
TEST_GENERATE_FREQUENCY_SEC=15
USER_MNEMONIC=
ACCESS_NODE_URL=
NETWORK=development